<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Path</th>
  </tr>
  <tbody>
    <% contents.forEach(function(content) { %>
    <tr><td><%= content.title %></td><td><%= content.path %></td></tr>
    <% }) %>
  </tbody>
</table>
