<form action="/admin/contents" method="post" class="form-horizontal">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="content[title]">Title</label>
      <div class="controls">
        <input type="text" name="content[title]"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="content[path]">Path</label>
      <div class="controls">
        <input type="text" name="content[path]"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="content[body]">Body</label>
      <div class="controls">
        <textarea name="content[body]"></textarea>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" class="btn"/>
      </div>
    </div>
  </fieldset>
</form>
